<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      Platz für Logo
    </div>
    <div class="menu-container">
      <ul id="navbar-menu" class="navbar-menu" role="menu">
        <li> 
          <a arole="menu-item" routerLink="/" routerLinkActive="router-link-active">
            <mat-icon>perm_identity</mat-icon>
            Dashboard
          </a>
        </li>
        <li> 
          <a role="menu-item" routerLink='/user' routerLinkActive="router-link-active">
            <mat-icon>fact_check</mat-icon>
            User
          </a>
        </li>
      </ul>
    </div>
  
  </mat-drawer>


<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Simple CRM</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="router-container">
  <router-outlet></router-outlet>
</div>





</mat-drawer-container>

