/* .mat-mdc-table thead{
    background: green !important;
}
 */
.add-user-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
  mat-icon {
    margin: 0;
  }
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #08b874;
}

.mdc-data-table__content {
  td button {
    width: 100%;
    height: 100%;
  }
}

/*   .mat-mdc-cell{
    &:hover{
      background-color: #08b874;
    }
  } */

table {
  tr {
    &:hover {
      background-color: rgb(219, 219, 219);
      cursor: pointer;
    }
  }
}

